DATABASE_URL=""
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=""
PAYSTACK_SECRET_KEY=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
EMAIL_HOST=""
EMAIL_PORT="465"
EMAIL_SECURE="true"
EMAIL_USER=""
EMAIL_PASS=""
EMAIL_FROM_EMAIL=""
EMAIL_FROM_NAME="Achievers Summit"
